@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #fff;
  --back-primary: #000;
}

body {
  color: var(--text-primary);
  background: var(--back-primary);
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }

.selected {
  background-color: #545d79;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

label {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  margin-bottom: 10px;
}

input,
textarea,
select {
  min-height: 60px;
  background-color: #3052ff0f;
  border-radius: 14px;
  border: none;
  padding: 5px 10px;
  font-size: 17px;
  background: #60688538;
}

textarea {
  min-height: 120px;
  line-height: 1.2em;
}


@media (min-width: 1536px){
  .container {
    max-width: 1536px;
  }
}
@media (min-width: 1280px){
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1024px){
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 768px;
  }
}
@media (min-width: 640px){
  .container {
    max-width: 640px;
  }
}
